body {
  margin: 0;
}
.container {
  padding: 10px;
}
.backgroundImg {
  width: 100%;
  height: 100vh;
  background: url("https://images.unsplash.com/photo-1507166763745-bfe008fbb831?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80");
  background-repeat: no-repeat;
  background-size: 160%;
  background-position: center;
  background-attachment: fixed;
}
.content {
  padding: 20px;
  text-align: center;
}
.content h2 {
  font-size: 30px;
  letter-spacing: 3px;
  font-weight: 700;
}
p {
  text-align: justify;
  font-size: 16px;
}
